DATABASE_URL=postgres://${DB_ROLE}:${DB_PASS}@localhost/${DB_NAME}?sslmode=disable
LISTEN_ADDR=${LISTEN_ADDR}
RUN_MIGRATIONS=1
CREATE_ADMIN=1
ADMIN_USERNAME=${ADMIN_USERNAME}
ADMIN_PASSWORD=${ADMIN_PASSWORD}
